:root {
  --main-bg-color: AliceBlue;
  --secondary-bg-color: brown;
}

.calculator {
  width: 750px;
  border: 2px groove coral;
  border-radius: 15px;
  background-color: var(--main-bg-color);
}

.NumberInputs {

}

button {
  font-size: 5em;
  width: 2em;
  text-align: center;
}

#display {
  height: 150px;
  border: 2px solid green;
  font-size: 3em;
  background-color: var(--main-bg-color);
}

#currentOutput {
  border-top: 1px solid #8c8b8b;
  height: 50%;
}

#history {
  height: 50%;
}

.buttons {
  display: grid;
  grid-column-gap: 1px;
  grid-template-columns: 75px 75px 75px
}

#commands {
  grid-row: 1 / 4;
  background-color: blue;

}

#numbers {
  background-color: blue;
  grid-row: 1 / 4;

}

#operators {
  background-color: blue;
  grid-row: 1 / 4;
}


